/* Variables */
@font-face {
  font-family: 'Mirtha Display';
  src: url(fonts/nois-mirtha-display.woff) format("woff");
  display: swap;
}
@font-face {
  font-family: 'Sebastian Bobby';
  src: url(fonts/sebastianbobby.woff) format("woff");
  display: swap;
}
/* Footer */
/* line 4, sass/footer.scss */
#footer {
  background: #231f1a;
  /* Reviews*/
  /* Plinth */
}
/* line 9, sass/footer.scss */
#footer #menu .menu-gios-views-es-container,
#footer #menu .menu-gios-views-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 15, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul,
#footer #menu .menu-gios-views-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  /* Logo for 4th child in menu */
  /* End Logo */
}
@media all and (max-width: 900px) {
  /* line 15, sass/footer.scss */
  #footer #menu .menu-gios-views-es-container ul,
  #footer #menu .menu-gios-views-container ul {
    flex-direction: column;
  }
}
/* line 28, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li,
#footer #menu .menu-gios-views-container ul li {
  position: relative;
}
/* line 31, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li:nth-child(4),
#footer #menu .menu-gios-views-container ul li:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
}
/* line 38, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li:nth-child(4) a,
#footer #menu .menu-gios-views-container ul li:nth-child(4) a {
  display: none;
}
/* line 42, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li:nth-child(4)::before,
#footer #menu .menu-gios-views-container ul li:nth-child(4)::before {
  position: absolute;
  content: '';
  background: url(imgs/logo-2.png) no-repeat center;
  width: 100%;
  height: 150px;
  top: -70px;
  left: 0;
  background-size: contain;
  filter: invert(100%);
}
@media all and (max-width: 900px) {
  /* line 31, sass/footer.scss */
  #footer #menu .menu-gios-views-es-container ul li:nth-child(4),
  #footer #menu .menu-gios-views-container ul li:nth-child(4) {
    display: none;
  }
}
/* line 62, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li,
#footer #menu .menu-gios-views-container ul li {
  position: relative;
  list-style: none;
}
/* line 66, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li a,
#footer #menu .menu-gios-views-container ul li a {
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffff;
  font-size: 14px;
  text-decoration: none;
}
@media all and (min-width: 1280px) and (max-width: 1419px) {
  /* line 66, sass/footer.scss */
  #footer #menu .menu-gios-views-es-container ul li a,
  #footer #menu .menu-gios-views-container ul li a {
    padding: 0.5rem 1rem;
  }
}
@media all and (min-width: 1420px) and (max-width: 1679px) {
  /* line 66, sass/footer.scss */
  #footer #menu .menu-gios-views-es-container ul li a,
  #footer #menu .menu-gios-views-container ul li a {
    font-size: 13px;
    padding: 0.5rem 0.75rem;
  }
}
@media all and (min-width: 1680px) {
  /* line 66, sass/footer.scss */
  #footer #menu .menu-gios-views-es-container ul li a,
  #footer #menu .menu-gios-views-container ul li a {
    font-size: 16px;
    padding: 0.5rem 0.75rem;
  }
}
/* line 91, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li ul,
#footer #menu .menu-gios-views-container ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  padding: 7px;
}
/* line 99, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li ul li,
#footer #menu .menu-gios-views-container ul li ul li {
  display: block;
}
/* line 102, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li ul li a,
#footer #menu .menu-gios-views-container ul li ul li a {
  padding: 0px 10px;
  color: #ffff;
  text-transform: none;
}
/* line 109, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li ul::before,
#footer #menu .menu-gios-views-container ul li ul::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 35%;
  margin-left: -10px;
  border-width: 14px 8px;
  border-style: solid;
  border-color: transparent transparent #ffff transparent;
  z-index: 1;
}
/* line 122, sass/footer.scss */
#footer #menu .menu-gios-views-es-container ul li:hover > ul,
#footer #menu .menu-gios-views-container ul li:hover > ul {
  display: block;
}
/* line 129, sass/footer.scss */
#footer .social {
  margin: auto;
  padding: 0.5rem 0 2rem;
  width: 75%;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 900px) {
  /* line 129, sass/footer.scss */
  #footer .social {
    padding: 0;
    height: 30px;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    right: -5rem;
  }
}
@media all and (min-width: 1920px) {
  /* line 129, sass/footer.scss */
  #footer .social {
    right: 15%;
    top: 0.7rem;
  }
}
/* line 148, sass/footer.scss */
#footer .social .connect {
  font-family: "Sebastian Bobby";
  font-size: 45px;
  text-align: center;
  line-height: 1;
  display: flex;
  margin: 0 1rem;
  align-items: center;
  color: #cbbca5;
}
@media all and (max-width: 900px) {
  /* line 148, sass/footer.scss */
  #footer .social .connect {
    justify-content: center;
  }
}
@media all and (min-width: 901px) {
  /* line 148, sass/footer.scss */
  #footer .social .connect {
    font-size: 40px;
    transform: rotate(-7deg);
  }
}
/* line 166, sass/footer.scss */
#footer .social .icons {
  display: flex;
  justify-content: space-around;
}
@media all and (max-width: 900px) {
  /* line 166, sass/footer.scss */
  #footer .social .icons {
    justify-content: center;
  }
}
/* line 172, sass/footer.scss */
#footer .social .icons a {
  margin: 0 0.5rem;
}
/* line 174, sass/footer.scss */
#footer .social .icons a path {
  fill: #cbbca5;
}
/* line 181, sass/footer.scss */
#footer #copyright {
  color: #ffff;
  display: flex;
  font-size: 11px;
  padding: 0.5rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
}
/* line 192, sass/footer.scss */
#footer #copyright p {
  margin: 0 0.5rem;
  letter-spacing: 0.1em;
  font-size: 11px;
  color: #ffff;
}
@media all and (max-width: 900px) {
  /* line 192, sass/footer.scss */
  #footer #copyright p {
    text-align: center;
  }
}
@media all and (min-width: 768px) {
  /* line 202, sass/footer.scss */
  #footer #copyright p br {
    display: none;
  }
}
/* line 208, sass/footer.scss */
#footer #copyright p span {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
/* line 214, sass/footer.scss */
#footer #copyright p a {
  color: #ffff;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
/* line 223, sass/footer.scss */
#footer #reviews {
  position: relative;
}
@media all and (max-width: 768px) {
  /* line 223, sass/footer.scss */
  #footer #reviews {
    padding: 4rem 0 2rem;
  }
}
/* line 230, sass/footer.scss */
#footer #reviews::after {
  content: '';
  position: absolute;
  height: 146px;
  width: 146px;
  top: -1rem;
  left: 7rem;
  background: url(imgs/icon-reviews.svg) no-repeat center;
}
@media all and (max-width: 1000px) {
  /* line 230, sass/footer.scss */
  #footer #reviews::after {
    height: 90px;
    width: 100px;
    top: -0.5rem;
    left: 0rem;
  }
}
/* line 248, sass/footer.scss */
#footer #reviews .testimonial-carousel .draggable {
  cursor: grab;
}
/* line 252, sass/footer.scss */
#footer #reviews .testimonial-carousel .draggable:active {
  cursor: grabbing;
}
/* line 256, sass/footer.scss */
#footer #reviews .testimonial-carousel .slick-track {
  background: #231f1a !important;
}
/* line 259, sass/footer.scss */
#footer #reviews .testimonial-carousel .slick-track .testimonial-content {
  width: 50%;
  margin: auto;
  text-align: center;
}
@media all and (max-width: 768px) {
  /* line 259, sass/footer.scss */
  #footer #reviews .testimonial-carousel .slick-track .testimonial-content {
    width: 90%;
  }
}
/* line 268, sass/footer.scss */
#footer #reviews .testimonial-carousel .slick-track .testimonial-content h3,
#footer #reviews .testimonial-carousel .slick-track .testimonial-content h3.wp-block-heading {
  color: #ffff !important;
}
/* line 273, sass/footer.scss */
#footer #reviews .testimonial-carousel .slick-track .testimonial-content p {
  color: #ffff;
}
/* line 278, sass/footer.scss */
#footer #reviews .testimonial-carousel .slick-track h2.testimonial-title {
  font-family: "Sebastian Bobby";
  color: #ffff;
  font-size: 50px;
  text-align: center;
  font-weight: 500;
}
/* line 288, sass/footer.scss */
#footer #reviews .testimonial-navigation {
  display: flex;
  justify-content: space-between;
  top: -12rem;
  position: relative;
  width: 80%;
  margin: auto;
}
@media all and (max-width: 768px) {
  /* line 288, sass/footer.scss */
  #footer #reviews .testimonial-navigation {
    top: 0rem;
    width: 60%;
  }
}
@media all and (min-width: 2000px) {
  /* line 288, sass/footer.scss */
  #footer #reviews .testimonial-navigation {
    width: 65%;
  }
}
/* line 306, sass/footer.scss */
#footer #reviews .testimonial-navigation span {
  display: flex;
  color: white;
  align-items: center;
}
@media all and (max-width: 768px) {
  /* line 306, sass/footer.scss */
  #footer #reviews .testimonial-navigation span {
    font-size: 11px;
  }
}
/* line 316, sass/footer.scss */
#footer #reviews .testimonial-navigation .testimonial-prev {
  position: relative;
}
/* line 319, sass/footer.scss */
#footer #reviews .testimonial-navigation .testimonial-prev:after {
  content: '';
  position: absolute;
  background: url(imgs/arrow-white.svg) no-repeat center;
  background-size: contain;
  width: 100px;
  height: 60px;
  rotate: 180deg;
  left: -90px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  /* line 319, sass/footer.scss */
  #footer #reviews .testimonial-navigation .testimonial-prev:after {
    height: 40px;
    width: 50px;
    left: -45px;
  }
}
/* line 338, sass/footer.scss */
#footer #reviews .testimonial-navigation .testimonial-next {
  position: relative;
}
/* line 341, sass/footer.scss */
#footer #reviews .testimonial-navigation .testimonial-next:after {
  content: '';
  position: absolute;
  background: url(imgs/arrow-white.svg) no-repeat center;
  background-size: contain;
  width: 100px;
  height: 60px;
  right: -90px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  /* line 341, sass/footer.scss */
  #footer #reviews .testimonial-navigation .testimonial-next:after {
    height: 40px;
    width: 50px;
    right: -45px;
  }
}
/* line 363, sass/footer.scss */
#footer .plinth {
  display: flex;
  width: 100%;
  padding: 1rem 0 2rem;
}
@media all and (min-width: 1920px) {
  /* line 363, sass/footer.scss */
  #footer .plinth {
    width: 70%;
    margin: auto;
  }
}
/* line 373, sass/footer.scss */
#footer .plinth span {
  flex: 1;
  height: 180px;
  margin: 0rem 0.3rem;
  background-size: cover;
  background-position: 50% 50%;
}
@media all and (max-width: 475px) {
  /* line 373, sass/footer.scss */
  #footer .plinth span {
    height: 90px;
  }
}
@media all and (max-width: 900px) {
  /* line 373, sass/footer.scss */
  #footer .plinth span {
    margin: 0rem 0.15rem;
  }
}
/* line 390, sass/footer.scss */
#footer .plinth .photo-1 {
  background-image: url("./imgs/photo-1.jpg");
}
/* line 394, sass/footer.scss */
#footer .plinth .photo-2 {
  background-image: url("./imgs/photo-2.jpg");
}
@media all and (max-width: 900px) {
  /* line 394, sass/footer.scss */
  #footer .plinth .photo-2 {
    display: none;
  }
}
/* line 402, sass/footer.scss */
#footer .plinth .photo-3 {
  background-image: url("./imgs/photo-3.jpg");
}
/* line 406, sass/footer.scss */
#footer .plinth .photo-4 {
  background-image: url("./imgs/photo-4.jpg");
}
@media all and (max-width: 900px) {
  /* line 406, sass/footer.scss */
  #footer .plinth .photo-4 {
    display: none;
  }
}
/* line 414, sass/footer.scss */
#footer .plinth .photo-5 {
  background-image: url("./imgs/photo-5.jpg");
}
/* line 418, sass/footer.scss */
#footer .plinth .photo-6 {
  background-image: url("./imgs/photo-6.jpg");
}
/* line 423, sass/footer.scss */
#footer .plinth .photo-7 {
  background-image: url("./imgs/photo-7.jpg");
}
@media all and (max-width: 900px) {
  /* line 423, sass/footer.scss */
  #footer .plinth .photo-7 {
    display: none;
  }
}
