@charset "UTF-8";
/* Variables */
@font-face {
  font-family: 'Mirtha Display';
  src: url(fonts/nois-mirtha-display.woff) format("woff");
  display: swap;
}
@font-face {
  font-family: 'Sebastian Bobby';
  src: url(fonts/sebastianbobby.woff) format("woff");
  display: swap;
}
/* line 3, sass/header.scss */
#header {
  display: flex;
  position: relative;
  z-index: 2;
  margin-bottom: -1%;
  padding-bottom: 35px;
}
@media all and (max-width: 999px) {
  /* line 3, sass/header.scss */
  #header {
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
    justify-content: space-between;
    background: transparent;
  }
}
/* line 18, sass/header.scss */
#header .mobile {
  display: none;
}
@media all and (max-width: 999px) {
  /* line 18, sass/header.scss */
  #header .mobile {
    padding: 1.5rem 1.5rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(239, 236, 224, 0.85);
  }
}
@media all and (max-width: 999px) {
  /* line 31, sass/header.scss */
  #header .mobile .logo img {
    width: 100px;
  }
}
/* line 38, sass/header.scss */
#header .mobile .menu-button {
  position: relative;
}
/* line 43, sass/header.scss */
#header #menu {
  flex-grow: 1;
  padding-top: 1.5rem;
  z-index: 10;
  position: relative;
  background-color: rgba(239, 236, 224, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1000px) {
  /* line 43, sass/header.scss */
  #header #menu {
    display: none;
  }
}
@media all and (min-width: 1280px) {
  /* line 43, sass/header.scss */
  #header #menu {
    padding-top: 2rem;
  }
}
/* line 63, sass/header.scss */
#header #menu .menu-gios-views-es-container,
#header #menu .menu-gios-views-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 69, sass/header.scss */
#header #menu .menu-gios-views-es-container ul,
#header #menu .menu-gios-views-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding-left: 0;
  /* Logo for 4th child in menu */
  /* End Logo */
}
/* line 78, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li,
#header #menu .menu-gios-views-container ul li {
  position: relative;
}
/* line 81, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li:nth-child(4),
#header #menu .menu-gios-views-container ul li:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
}
/* line 88, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li:nth-child(4) a,
#header #menu .menu-gios-views-container ul li:nth-child(4) a {
  display: none;
}
/* line 92, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li:nth-child(4)::before,
#header #menu .menu-gios-views-container ul li:nth-child(4)::before {
  position: absolute;
  content: '';
  background: url(imgs/logo.png) no-repeat center;
  width: 100%;
  height: 150px;
  top: -70px;
  left: 0;
  background-size: contain;
}
/* line 107, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li,
#header #menu .menu-gios-views-container ul li {
  position: relative;
  list-style: none;
}
/* line 111, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li a,
#header #menu .menu-gios-views-container ul li a {
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  color: #1D252C;
  font-size: 14px;
  text-decoration: none;
}
@media all and (min-width: 1280px) and (max-width: 1419px) {
  /* line 111, sass/header.scss */
  #header #menu .menu-gios-views-es-container ul li a,
  #header #menu .menu-gios-views-container ul li a {
    padding: 0.5rem 1rem;
  }
}
@media all and (min-width: 1420px) and (max-width: 1679px) {
  /* line 111, sass/header.scss */
  #header #menu .menu-gios-views-es-container ul li a,
  #header #menu .menu-gios-views-container ul li a {
    font-size: 13px;
    padding: 0.5rem 0.75rem;
  }
}
@media all and (min-width: 1680px) {
  /* line 111, sass/header.scss */
  #header #menu .menu-gios-views-es-container ul li a,
  #header #menu .menu-gios-views-container ul li a {
    font-size: 16px;
    padding: 0.5rem 0.75rem;
  }
}
/* line 136, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li ul,
#header #menu .menu-gios-views-container ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  padding: 7px;
  background-color: #EFECE0D9;
}
/* line 145, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li ul li,
#header #menu .menu-gios-views-container ul li ul li {
  display: block;
}
/* line 148, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li ul li a,
#header #menu .menu-gios-views-container ul li ul li a {
  padding: 0px 10px;
  color: #1D252C;
  text-transform: none;
}
/* line 155, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li ul::before,
#header #menu .menu-gios-views-container ul li ul::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 35%;
  margin-left: -10px;
  border-width: 14px 8px;
  border-style: solid;
  border-color: transparent transparent #ffff transparent;
  z-index: 1;
}
/* line 168, sass/header.scss */
#header #menu .menu-gios-views-es-container ul li:hover > ul,
#header #menu .menu-gios-views-container ul li:hover > ul {
  display: block;
}
/* line 177, sass/header.scss */
#header #menu .language-switcher .pll-switcher-select {
  border: none;
  background: none;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  color: #1D252C;
  font-size: 14px;
  text-decoration: none;
  height: 83px;
  display: flex;
  align-content: center;
  align-items: center;
}
/* line 194, sass/header.scss */
#header #menu .language-switcher .pll-switcher-select:focus-visible {
  outline: none;
}
@media all and (min-width: 1280px) and (max-width: 1419px) {
  /* line 177, sass/header.scss */
  #header #menu .language-switcher .pll-switcher-select {
    padding: 0.5rem 1rem;
  }
}
@media all and (min-width: 1420px) and (max-width: 1679px) {
  /* line 177, sass/header.scss */
  #header #menu .language-switcher .pll-switcher-select {
    font-size: 13px;
    padding: 0.5rem 0.75rem;
  }
}
@media all and (min-width: 1680px) {
  /* line 177, sass/header.scss */
  #header #menu .language-switcher .pll-switcher-select {
    font-size: 16px;
    padding: 0.5rem 0.75rem;
  }
}
/* line 212, sass/header.scss */
#header #menu .language-switcher .pll-switcher-select option {
  background: transparent !important;
}

/* Fixed Menu */
/* line 222, sass/header.scss */
#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: background-color 0.8s ease-in-out;
  z-index: 1000;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  background: transparent;
  align-items: center;
}
@media all and (max-width: 999px) {
  /* line 222, sass/header.scss */
  #header.fixed {
    justify-content: space-between;
  }
}
/* line 241, sass/header.scss */
#header.fixed #menu {
  padding-top: 0rem;
  transition: padding-top 0.2ms ease-in-out;
}
/* line 248, sass/header.scss */
#header.fixed #menu .menu-gios-views-es-container ul,
#header.fixed #menu .menu-gios-views-container ul {
  /* Logo for 4th child in menu */
  /* End Logo */
}
/* line 253, sass/header.scss */
#header.fixed #menu .menu-gios-views-es-container ul li:nth-child(4)::before,
#header.fixed #menu .menu-gios-views-container ul li:nth-child(4)::before {
  position: absolute;
  content: '';
  background: url(imgs/logo-2.png) no-repeat center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  background-size: contain;
  transition: transform 0.5ms ease-in-out;
}
/* line 272, sass/header.scss */
#header.fixed .mobile {
  background-color: rgba(239, 236, 224, 0.85);
}

@media all and (max-width: 999px) {
  /* line 280, sass/header.scss */
  .menu-mobile {
    left: -150%;
    transition: left ease 200ms;
    top: 0;
    z-index: -1;
    position: fixed;
    background: #EFECE0;
  }
  /* line 290, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container,
  .menu-mobile #menu-mobile .menu-gios-views-container {
    padding: 9rem 0rem 0.5rem;
    margin-bottom: 2rem;
    width: 70%;
    margin: auto auto 0rem;
  }
  /* line 297, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1,
  .menu-mobile #menu-mobile .menu-gios-views-container ul {
    font-size: 16px;
    padding: 0;
    text-align: center;
    list-style: none;
  }
  /* line 304, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li {
    margin: 1rem 0;
  }
  /* line 307, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li a,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li a,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li a,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li a {
    padding: 0rem 0 !important;
    color: #ffff;
    text-transform: uppercase;
    color: #1D252C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* line 317, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li:nth-child(4),
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li:nth-child(4),
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li:nth-child(4),
  .menu-mobile #menu-mobile .menu-gios-views-container ul li:nth-child(4) {
    display: none;
  }
  /* line 323, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children {
    position: relative;
  }
  /* line 326, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children::before,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children::before,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children::before,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children::before {
    content: '';
    background-image: url(imgs/icon-white-arrow.svg);
    position: absolute;
    background-size: contain;
    top: 14px;
    right: 1.5rem;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    margin-top: -9px;
    /* Mitad del tamaño de la flecha para centrarla verticalmente */
    margin-right: -9px;
    /* Mitad del tamaño de la flecha para centrarla horizontalmente */
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  /* line 348, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open .sub-menu,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open .sub-menu {
    max-height: 1000px;
    opacity: 1;
    width: fit-content;
    background: #ffff;
    width: 140%;
    padding: 3% 20%;
    margin: 2% -20%;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
  }
  /* line 359, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open .sub-menu li,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open .sub-menu li {
    padding-bottom: 0.5rem;
    margin: 0;
  }
  /* line 363, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li a,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open .sub-menu li a,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li a,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open .sub-menu li a {
    padding: 0;
    color: #1D252C;
    text-transform: none;
    letter-spacing: normal;
  }
  /* line 372, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open::before,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open::before,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open::before,
  .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open::before {
    transform: rotate(-180deg);
    transform-origin: center center;
  }
  /* line 379, sass/header.scss */
  .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 .sub-menu,
  .menu-mobile #menu-mobile .menu-gios-views-es-container ul .sub-menu,
  .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 .sub-menu,
  .menu-mobile #menu-mobile .menu-gios-views-container ul .sub-menu {
    max-height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, transform 0.3s ease;
  }
  /* line 390, sass/header.scss */
  .menu-mobile .social {
    margin: auto;
    padding: 0.5rem 0 2rem;
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  /* line 397, sass/header.scss */
  .menu-mobile .social .connect {
    font-family: "Sebastian Bobby";
    font-size: 45px;
    color: #865042;
    text-align: center;
    line-height: 1;
    margin: 0 0 0.8rem;
  }
  /* line 406, sass/header.scss */
  .menu-mobile .social .icons {
    display: flex;
    justify-content: center;
  }
  /* line 410, sass/header.scss */
  .menu-mobile .social .icons a {
    margin: 0 0.5rem;
  }
  /* line 412, sass/header.scss */
  .menu-mobile .social .icons a path {
    fill: #865042;
  }
}
@media all and (min-width: 1000px) {
  /* line 424, sass/header.scss */
  .menu-mobile {
    display: none;
  }
}
/*** Icon Mode Burger ***/
/* line 430, sass/header.scss */
.vbp-header-menu-button__svg {
  width: 50px;
  height: 30px;
  cursor: pointer;
  transform: scale(0.7);
}

/* line 437, sass/header.scss */
.vbp-header-menu-button__svg line {
  stroke: #865042;
  stroke-dasharray: 0%;
  stroke-dashoffset: 0%;
  transition: transform 0.3s, stroke-dashoffset .4s;
  transform-origin: center;
  stroke-width: 3px;
}

/* line 446, sass/header.scss */
.vbp-header-menu-button__svg .top {
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(35%);
  -ms-transform: translateY(35%);
  -o-transform: translateY(35%);
}

/* line 453, sass/header.scss */
.vbp-header-menu-button__svg .middle {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transition: opacity .3s, transform .3s;
  -webkit-transition: opacity .3s, transform .3s;
  -moz-transition: opacity .3s, transform .3s;
  -ms-transition: opacity .3s, transform .3s;
  -o-transition: opacity .3s, transform .3s;
}

/* line 467, sass/header.scss */
.vbp-header-menu-button__svg .bottom {
  -webkit-transform: translateY(30%);
  -moz-transform: translateY(33%);
  -ms-transform: translateY(33%);
  -o-transform: translateY(33%);
  stroke-dasharray: 0%;
  stroke-dashoffset: 0%;
}

/* line 476, sass/header.scss */
.vbp-header-menu-button__svg:hover .bottom {
  stroke-dashoffset: 0%;
}

/*** Icon Mode Croix ***/
@media all and (min-width: 1000px) {
  /* line 482, sass/header.scss */
  .vbp-header-menu-button__svg {
    display: none;
  }
}
/*** Menu Mobile Open ***/
/* line 490, sass/header.scss */
body.menu-open #header .menu-button {
  position: relative;
}
/* line 493, sass/header.scss */
body.menu-open #header .menu-button .vbp-header-menu-button__svg .top {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  stroke-linecap: square;
}
/* line 502, sass/header.scss */
body.menu-open #header .menu-button .vbp-header-menu-button__svg .middle {
  transform: scaleX(0.1);
  -webkit-transform: scaleX(0.1);
  -moz-transform: scaleX(0.1);
  -ms-transform: scaleX(0.1);
  -o-transform: scaleX(0.1);
  opacity: 0;
}
/* line 511, sass/header.scss */
body.menu-open #header .menu-button .vbp-header-menu-button__svg line.bottom {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  stroke-linecap: square;
}
/* line 520, sass/header.scss */
body.menu-open #header .menu-button .vbp-header-menu-button__svg .bottom {
  stroke-dashoffset: 0%;
}
@media all and (max-width: 999px) {
  /* line 488, sass/header.scss */
  body.menu-open {
    /* Menu Mobile Open */
  }
  /* line 530, sass/header.scss */
  body.menu-open .menu-mobile.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 537, sass/header.scss */
  body.menu-open .menu-mobile {
    position: fixed;
    left: 0;
    top: 0;
    background: #EFECE0;
    width: 100%;
    overflow-y: auto;
    left: 0;
    visibility: visible;
    min-height: 100%;
  }
  /* line 550, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container {
    padding: 9rem 0rem 0.5rem;
    margin-bottom: 2rem;
    width: 70%;
    margin: auto auto 0rem;
  }
  /* line 557, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul {
    font-size: 16px;
    padding: 0;
    text-align: center;
    list-style: none;
  }
  /* line 564, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li {
    margin: 1rem 0;
  }
  /* line 567, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li a,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li a,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li a,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li a {
    padding: 0rem 0 !important;
    color: #ffff;
    text-transform: uppercase;
    color: #1D252C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* line 577, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li:nth-child(4),
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li:nth-child(4),
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li:nth-child(4),
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li:nth-child(4) {
    display: none;
  }
  /* line 583, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children {
    position: relative;
  }
  /* line 586, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children::before,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children::before,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children::before,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children::before {
    content: '';
    background-image: url(imgs/icon-white-arrow.svg);
    position: absolute;
    background-size: contain;
    top: 14px;
    right: 1.5rem;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    margin-top: -9px;
    /* Mitad del tamaño de la flecha para centrarla verticalmente */
    margin-right: -9px;
    /* Mitad del tamaño de la flecha para centrarla horizontalmente */
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  /* line 608, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open .sub-menu,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open .sub-menu {
    max-height: 1000px;
    opacity: 1;
    width: fit-content;
    background: #ffff;
    width: 140%;
    padding: 3% 20%;
    margin: 2% -20%;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
  }
  /* line 619, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open .sub-menu li,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open .sub-menu li {
    padding-bottom: 0.5rem;
    margin: 0;
  }
  /* line 623, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li a,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open .sub-menu li a,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open .sub-menu li a,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open .sub-menu li a {
    padding: 0;
    color: #1D252C;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
  }
  /* line 633, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 li.menu-item-has-children.open::before,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul li.menu-item-has-children.open::before,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 li.menu-item-has-children.open::before,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul li.menu-item-has-children.open::before {
    transform: rotate(-180deg);
    transform-origin: center center;
  }
  /* line 640, sass/header.scss */
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container #menu-gios-views-1 .sub-menu,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-es-container ul .sub-menu,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container #menu-gios-views-1 .sub-menu,
  body.menu-open .menu-mobile #menu-mobile .menu-gios-views-container ul .sub-menu {
    max-height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, transform 0.3s ease;
  }
  /* line 651, sass/header.scss */
  body.menu-open .menu-mobile .social {
    margin: auto;
    padding: 0.5rem 0 2rem;
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  /* line 658, sass/header.scss */
  body.menu-open .menu-mobile .social .connect {
    font-family: "Sebastian Bobby";
    font-size: 45px;
    color: #865042;
    text-align: center;
    line-height: 1;
    margin: 0 0 0.8rem;
  }
  /* line 667, sass/header.scss */
  body.menu-open .menu-mobile .social .icons {
    display: flex;
    justify-content: center;
  }
  /* line 671, sass/header.scss */
  body.menu-open .menu-mobile .social .icons a {
    margin: 0 0.5rem;
  }
  /* line 673, sass/header.scss */
  body.menu-open .menu-mobile .social .icons a path {
    fill: #865042;
  }
}
