@import "variables";

/* Price */
body.page-template-page-price {
    #content {
        padding-top: 5rem;
        width: 90%;
        margin: auto;

        @media all and (min-width:1920px) {
            width: 60%;
        }

        .price-heading {
            position: relative;
            .text-ornament {
                position: absolute;                
                width: 21%;
                top: -5rem;
                p {
                    font-size: 45px;
                    line-height: 2rem;
                    color: rgba(134, 96, 66, 0.25);
                    font-family: $fontTitles3;
                }
                @media all and (max-width:575px){
                    width: 50%;
                }
                @media all and (min-width:1920px){
                    scale: 1.5;
                    width: 12%;
                }
            }

            .images-pricing {
                width: 100%;
                position: absolute;
                gap: 0;
                top: 0;
                right: 0;                
                transform: translate(65%, -8rem);
            

                @media all and (max-width:425px){
                    scale: 0.7 !important;                    
                    transform: translate(-3rem, -18rem) !important;
                }

                @media all and (max-width:575px){
                    scale: 0.8;
                    transform: translate(6rem, -18rem);
                }
                
                @media all and (min-width:576px) and (max-width:781px){
                    transform: translate(18rem, -19rem);
                    scale: 0.7;
                }
                @media all and (min-width:1420px){
                    transform: translate(75%, -8rem);
                }

                .frame-2 {
                    .wp-block-group__inner-container {
                        position: relative;
                        top: -3rem;
                        right: -5rem;
                        z-index: 1;
                    }

                    figure {
                        position: relative;
                        scale: 0.5;
                        width: 320px;

                        img {
                            filter: brightness(0.8);
                            width: 320px;
                            left: 0;
                            margin: 0.5rem;
                            height: 375px;
                            object-fit: cover;
                            transform: scale(1, 1) translate(0px, 0px) rotate(9deg);
                        }

                        &::after {
                            background: url(imgs/frame-2.png) no-repeat center;
                            content: '';
                            position: absolute;
                            background-size: 100% 100%;
                            left: 0;
                            top: 0;
                            width: 339px;
                            height: 392px;
                            transform: scale(1, 1) translate(0px, 0px) rotate(9deg);
                        }
                    }
                }

                .frame-1 {
                    .wp-block-group__inner-container {
                        position: relative;
                        top: -15rem;
                        right: -13rem;
                    }

                    figure {
                        position: relative;
                        width: 239px;
                        object-fit: cover;
                        scale: 0.9;
                        height: 273px;

                        img {
                            width: 239px;
                            transform: scale(0.82, 0.82) translate(0px, 50px) rotate(-7deg);
                        }

                        &::after {
                            background: url(imgs/frame-1.png) no-repeat center;
                            content: '';
                            position: absolute;
                            left: 9px;
                            top: 5px;
                            width: 390px;
                            height: 434px;
                            transform: scale(0.8, 0.8) translate(-106px, 0px) rotate(-7deg);
                        }

                        &::before {
                            background: url(imgs/tape_1.png) no-repeat center;
                            content: '';
                            position: absolute;
                            z-index: 2;
                            left: 8rem;
                            top: 1rem;
                            width: 166px;
                            height: 137px;
                            transform: scale(0.7, 0.7) translate(-30px, -20px) rotate(26deg);
                        }
                    }

                }
            }

            h3 {
                margin: 0;
                padding: 3rem 0;
                font-size: 82px;
                @media all and (max-width:575px){
                    padding-top: 18rem;
                }
            }
        }

        .table-pricing {
            width: 70%;
            margin: auto;
            position: relative;

            .pricing-top,
            .pricing-bottom {
                h3 {
                    text-align: center;
                    color: $yellow;
                    font-size: 52px;
                    padding: 0;
                }

                h4 {
                    text-align: center;
                    font-size: 22px;
                    text-transform: none;
                }

                p {
                    text-align: center;
                    font-size: 15px;
                }
                .text-mobile{
                    display: none;
                    @media all and (max-width:781px){
                        display: block;
                        color: $brown;
                        font-size: 72px;
                        margin: 0;
                    }
                }
            }

            .pricing-top {
                margin-bottom: 10rem;

                .print-size {
                    position: relative;
                    border-top: 1px solid rgba(134, 96, 66, 0.25);
                    border-bottom: 1px solid rgba(134, 96, 66, 0.25);
                    margin: 2rem 0;
                    padding: 2rem 0;

                    &::after {
                        content: 'Print Size';
                        position: absolute;
                        font-family: $fontTitles2;
                        font-size: 82px;
                        left: -2rem;
                        bottom: 0;
                        top: 0;
                        rotate: -90deg;
                        color: rgba(134, 96, 66, 0.25);
                    }
                }

                .additional {
                    margin: 0;
                }
            }

            .pricing-bottom {
                margin-bottom: 10rem;

                .event {
                    position: relative;
                    border-top: 1px solid rgba(134, 96, 66, 0.25);
                    margin-top: 2rem;
                    padding-top: 2rem;

                    &::after {
                        content: 'Event';
                        position: absolute;
                        font-family: "Mirtha Display";
                        font-size: 82px;
                        left: -2rem;
                        bottom: 0;
                        top: 0;
                        rotate: -90deg;
                        color: rgba(134, 96, 66, 0.25);
                    }
                }
            }

            &::after {
                content: '';
                background: url(imgs/stars.png) no-repeat center;
                position: absolute;
                width: 100px;
                height: 100px;
                left: -11rem;
                background-size: contain;
                top: 3rem;
            }
        }
    }
}