body.page-template-page-about-me {

    /* Estilo general para el banner */
    .banner {
        width: 100%;
        overflow: hidden;
        height: 700px;
        background-size: cover;
        background-position: center center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 23%;

        }

        @media (max-width:575px) {
            height: 350px !important;
        }

        @media screen and (max-width: 1024px) {
            height: 450px;
        }

    }

    .about-me-content {
        display: flex;
        padding: 1rem 0;
        width: 90%;
        margin: auto;

        @media (max-width: 767px) {
            flex-direction: column;
        }
        @media (min-width: 768px) {
            .column {
                width: calc((100% - 25%) / 1);
                padding: 1rem;
            }
        }
        @media (max-width: 575px) {
            width: 90%;
            margin: auto;
        }
        @media (min-width: 2000px) {
            width: 70%;
            margin: auto;
            padding: 3rem;
        }
    }

}